*{
    margin:0;
    padding: 0;
}

:root{
    font-size: 24px;

    --main-bgc: gray;
    --c-lightest: #DAD7CD;
    --c-light:#A3B18A;
    --c-middle:#588157;
    --c-dark:#3A5A40;
    --c-darkest:#344E41;


}

.container{
    height: 100vh;
    width: 100vw;
    background-color: var(--c-light);
    text-align: center;
    display: grid;
    grid-template-columns:1fr 4fr;
    align-items: stretch;
    gap: 2px;
}
/*
.container div{
    border: 1px dotted black;
}
*/
.sidebar-left {
    background-color: var(--c-darkest);
    color: var(--c-lightest);

    display: grid;
}

.sidebar-left .header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.screen-right{
    display: grid;
    grid-template: 20% 80%/ 2fr 2fr 1fr;
    gap: 10px;

}

.nav{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.top-row {
    display:grid;
    grid-template-columns: 4fr 1fr 1fr 2fr;
}

.bottom-row{
    display: grid;
    grid-template-columns: 0.5fr 3fr repeat(3,1fr);
}

.projects-wrapper{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    margin-bottom: 10px;
}

.projects{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(autofit, 1fr);
    gap: 20px;
}

.card{
    background-color: white;
}

.sidebar-right{
    grid-column: 3/ span 1;
    grid-row: 2/span 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.announcements>p, .trending>p {
    font-size: 1.2rem;
    font-weight: 900;
}

.sidebar-right .title{
    font-size: 1.05rem;
    font-weight: 700;
}

.sidebar-right .announcements .card {
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 5px;
}